@model List<Kisi>
@{
    ViewData["Title"] = "Kisi Listesi";
}
<h1>Kisiler</h1>
<a asp-action="Yeni">Yeni kisi oustur</a>

<ul>
    @foreach (var kisi in Model)
    {
        <li>@kisi.Ad</li>
    }
</ul>

