@model Kisi
@{
    ViewBag.Title = "Kisi silme onayi";

}
<h1>Silme onayi</h1>


<form asp-action="SilOnay" method="post">
    <input asp-for="Ad" type="hidden" />
    <p>&quot;@Model.Ad&quot; adli kisi silinecektir. Onayliyor musunuz</p>
    <button class="btn btn-danger"> Evet sil</button>
    <a asp-action="Index" class=" btn btn-secondary">Iptal</a>
</form>

